.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      text-align: center;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      width: 45px;
      height: 45px;
      margin-right: 15px;
      cursor: pointer;
      color: #fe5f1e;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #fe5f1e;
        color: white;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: white;
      }
    }
  }
}
