@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  @media (max-width: 660px) {
    padding-bottom: 0px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 980px) {
      gap: 20px;
    }

    @media (max-width: 740px) {
      flex-direction: column;
      text-align: start;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      .header__cart {
        // margin: 0 auto;
        margin-top: 30px;
      }
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
